<html>
<head>
	<title>Title for Page</title>
</head>
<script type="text/javascript">
	function OnLoadEvent(){
		setTimeout(function(){
			submitForm()
		}, 5000)
	}
	function submitForm(){
		document.downloadForm.submit();
	}
</script>

<body onload="OnLoadEvent()">
	<style type="text/css">button{padding: 15px; cursor: pointer; display: block; text-align: center; width: 50%;}</style>
	<form name="downloadForm" action="<%=data.ACSUrl %>" method="POST">
		<center><h1>Processing your 3-D Secure Transaction... Will redirect in 5 Seconds</h1></center>
		<noscript>
			<br><br>
			<center>
				<h1>Processing your 3-D Secure Transaction</h1>
				<h2>
					JavaScript is currently disabled or is not supported
					by your browser.
				</h2>
				<h3>Please click on the Submit button to continue
					the processing of your 3-D secure
					transaction.
				</h3>
				<input type="submit" value="Submit">
			</center>
		</noscript>
		<input type="hidden" name="PaReq" value="<%- data.PaReq.replace(/\n/, "") %>">
		<input type="hidden" name="MD" value='<%- data.MD %>'>
		<input type="hidden" name="TermUrl" value="<%- data.TermUrl %>">
		<center><button onclick="javascript: submitForm()">Submit it now</button></center>
	</form>
	<pre><%- JSON.stringify(result, null, "\t") %></pre>
</body>
</html>